/*@font-face {
  font-family: 'Akronim';
  src: url('../fonts/akronim.otf') format("truetype");
}

@font-face {
  font-family: 'Literata';
  src: url('../fonts/literata.ttf') format("truetype");
}
@font-face {
  font-family: 'Wetware';
  src: url('../fonts/wetware.otf') format("truetype");
}*/
